/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2021, 11:39:40 PM
    Author     : Kreshan Jayamannna
*/

body{
    width: 100vw;
    overflow-x: hidden;
}